<div style="text-align:center">
  <h1>
    Welcome to Riders of Western Australia
  </h1>
  <h2>
    Please login to continue
  </h2>
</div>
<div class="row" style="position: absolute; left: 40%;">
  <img src="/assets/images/rowa.jpg" alt="rowa.jpg">
  <form>
    <label>Username: </label>
    <input type="text" class="form-control">
    <br>
    <label>Password: </label>
    <input type="text" class="form-control">
    <br>
    <button class="btn" (click)="login()">Login</button>
    <br>
    <br>
<!--     <button class="btn" (click)="signUp()">Sign Up</button>
    <button class="btn" (click)="forgotPassword()">Forgot Password</button> -->
  </form>
</div>