<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    {{ message }}
  </h2>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="/assets/images/rowa.jpg" alt="rowa.jpg">
    </div>
    <div class="col-md-3 login-form">
      <label>Username: </label>
      <input type="text" class="form-control">
      <br>
      <label>Password: </label>
      <input type="text" class="form-control">
      <br>
      <button class="btn" (click)="login()">Login</button>
      <br>
      <br>
      <button class="btn" (click)="signUp()">Sign Up</button>
      <button class="btn" (click)="forgotPassword()">Forgot Password</button>
    </div>
</div>

